<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title QRCodesTemplate
    style
      include qr-code-style.css
  body
    header
      img(src='http://localhost:8085/images/logo.png')
        
    .container
      .grid-container
        each val in codes
          .code
            .wrap
              img(src=`https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=${val}`)
              p #{val}
    footer
      .information
        h4 Instituto dos Pupilos do Exército
        p Tv. São Domingos de Benfica 1500, Lisboa
        p Telefone: 217713800 