doctype html
html
  head
    title #{subject}

  body
    p.
      Pedido para alterar a palavra-passe. Altere a sua palavra-pase, clicando no seguinte link:

    a(href=`${url}?token=${token}`).
      Confirmar palavra-passe