doctype html
html
  head
    title #{subject}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include styles.css
  body
    .container
      img(src='http://localhost:8085/images/logo.png')
      p.
        Pedido para recuperar a palavra-passe. Por favor altere a sua palavra-passe, clicando no seguinte link:

      a(href=`${url}?token=${token}`,class="button").
        Recuperar Palavra Passe