doctype html
html
  head
    title #{subject}

  body
    p.
      Pedido para recuperar a palavra-passe. Por favor altere a sua palavra-passe, clicando no seguinte link:

    a(href=`${url}`).
      Confirmar palavra-passe