doctype html
html
  head
    title #{subject}

  body
    p.
      Conta criada com sucesso. Por favor confirme a sua conta, clicando no seguinte link:

    a(href=`${url}?token=${token}`).
      Confirmar palavra-passe