doctype html
html
  head
    title #{subject}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include styles.css
  body
    .container
      img(src='http://localhost:8085/images/logo.png')
      p.
        A sua conta de utilizador, sofreu alterações. Por favor confirme a sua palavra-pase, clicando no seguinte link:

      a(href=`${url}?token=${token}`,class="button").
        Confirmar Palavra Passe