doctype html
html
  head
    title #{subject}

  body
    p.
      A sua conta de utilizador, sofreu alterações. Por favor confirme a sua palavra-pase, clicando no seguinte link:

    a(href=`${url}`).
      Confirmar palavra-passe